{{ groupip }}      ubuntu-lab-{{ project_n }}-{{ groupnum }}-master   
{{ groupip+1 }}    ubuntu-lab-{{ project_n }}-{{ groupnum }}-worker-1   
{{ groupip+2 }}    ubuntu-lab-{{ project_n }}-{{ groupnum }}-worker-2    