[k8s_lab_{{ project_n }}_{{ groupnum }}]
ubuntu-lab-{{ project_n }}-{{ groupnum }}-master    ansible_ssh_host={{ groupip }}	    ansible_user=ubuntu
ubuntu-lab-{{ project_n }}-{{ groupnum }}-worker-1	ansible_ssh_host={{ groupip+1 }}	ansible_user=ubuntu
ubuntu-lab-{{ project_n }}-{{ groupnum }}-worker-2	ansible_ssh_host={{ groupip+2 }}	ansible_user=ubuntu